.button {
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition:
      background-color 0.3s,
      border-color 0.3s;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    
  
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
  
  /* Варианты кнопок */
  .primary {
    background-color:#6cc209;
    color: white;
  
    &:hover:not(:disabled) {
      background-color:  #97f830;
    }
  }
  
  .secondary {
    background-color: #6c757d;
    color: white;
  
    &:hover:not(:disabled) {
      background-color: #545b62;
    }
  }
  
  .danger {
    background-color: #dc3545;
    color: white;
  
    &:hover:not(:disabled) {
      background-color: #c82333;
    }
  }
  

  .small {
    font-size: 0.875em;
    padding: 0.25em 0.5em;
  }
  
  .medium {
    font-size: 1em;
    padding: 0.5em 1em;
  }
  
  .large {
    font-size: 1.25em;
    padding: 0.75em 1.5em;
  }
  

  .fullWidth {
    width: 100%;
  }