.navbar {
    padding: 1rem;
    background-color: var(--navbar-background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

